.ascSort {
  border-top: 5px solid red !important;
}
.descSort {
  border-bottom: 5px solid red !important;
}
.sortable{
  border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	height: 40px;
	/* position: absolute; */

}
.pagination {
	position: fixed;
	/* position: sticky;  */
  /* position: -webkit-sticky; */
  bottom: 0px;
  right: 0;
  /* border: solid 1px blue; */
  width: 100%;
  background-color: rgba(211,211,211,0.8);
}
