/* overall table styles */
.table {
  margin-bottom: 25px;
  text-align: center;
}

/* ---------------------------------------------------------- */
/* header row styles */
.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px;
  width: fit-content;
}
.header__top-row {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-group {
  font-weight: 600;
  height: 70px;
  background-color: lightgrey;
  white-space: nowrap;
  display: inline-block;
  line-height: 25px;
}
.header.cell {
  height: 100%;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  overflow: hidden;
  user-select: none;
}
.header.cell:focus {
  outline: none;
}

/* header sort styles */
.ascSort {
  border-top: 5px solid red !important;
}
.descSort {
  border-bottom: 5px solid red !important;
}
.sortable {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  line-height: 24px;
}

/* header resize styles */
.resizer {
  display: inline-block;
  background: rgba(173, 216, 230, 0.7);
  width: 5px;
  height: 34px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  overflow-x: visible !important;
  touch-action: none;
  transition: width 0.5s;
}
.isResizing {
  background: rgba(173, 216, 230, 1);
}
.resizer:hover {
  width: 10px;
  background: rgba(173, 216, 230, 1);
}

/* header filter styles */
.header__global-search {
  font-weight: 600;
}
.filter {
  cursor: default;
  z-index: 10;
  position: absolute;
  bottom: 0px;
}

/* header info popup styles */
.header__info-popup-container {
  font-size: 30px;
  padding: 0 8px;
}
.header__info-popup-button {
  margin-bottom: 2px;
  height: fit-content;
}
.header__info-popup-button:hover {
  cursor: pointer;
}

/* ---------------------------------------------------------- */
/* table body styles */
.row {
  height: 80px;
}
.row.body:last-child {
  border: 0;
}
.row.body:hover {
  transition-property: box-shadow;
  transition-duration: 0.15s;
  box-shadow: 0px 0px 10px 2px;
}
.data-cell {
  padding: 5px;
}
.cell {
  height: 100%;
  border-right: 1px solid #000;
  overflow-x: hidden;
}
.cell:last-child {
  border-right: 0;
}

/* ---------------------------------------------------------- */
/* pagination styles */
.pagination {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.9);
  height: 25px;
  box-shadow: 0px 0px 5px 1px;
  text-align: center;
}
